::-webkit-scrollbar {
  width: 0;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb {
  background: var(--green-100);
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
