:root {
  --red: #e53e3e;
  --gray: #2d3748;
  --white: #ffffff;
  --black: #000000;
  --blue: #171923;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  min-height: 100vh;
  background: var(--gray);
  font-family: "Russo One", sans-serif;
  overflow-x: hidden;
}

header {
  width: 100%;
  background: var(--blue);
}

header .container {
  max-width: 1120px;
  margin: 0 auto;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header .container h1 {
  color: var(--red);
}

.header-nav-links ul {
  list-style: none;
  display: flex;
  gap: 10px;
}

.header-nav-links ul li a {
  color: var(--white);
  transition: filter 0.2s;
}

.header-nav-links ul li a:hover {
  filter: brightness(0.7);
}

main {
  width: 100%;
  max-width: 1120px;
  margin: 0 auto;
  padding: 10px 20px;
}

section + section {
  margin-top: 40px;
}

.table {
  width: 100%;
  border-collapse: collapse;
  text-align: center;
}

.table th {
  color: var(--red);
  padding: 10px;
}

.table td {
  padding: 10px;
  color: var(--white);
}

td img,
th img {
  width: 100px;
  object-fit: contain;
}

td:first-child {
  font-weight: bold;
  text-transform: uppercase;
}

.section-form {
}

.section-form form {
}

form .control {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

form .control input {
  height: 50px;
  border-radius: 4px;
  border: 0;
  padding: 0 8px;
  font-size: 1rem;
  background: var(--blue);
  color: var(--white);
}

.control + .control {
  margin-top: 8px;
}

form .control label {
  color: var(--red);
}

.header-nav-links .sandwich-menu {
  display: none;
}

::-webkit-scrollbar {
  background: var(--black);
}

::-webkit-scrollbar-thumb {
  border-radius: 100px;
  background: var(--red);
}

@media (max-width: 768px) {
  .header-nav-links ul {
    display: none;
  }

  .header-nav-links .sandwich-menu {
    display: block;
  }
}
